main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-loader {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.589) 60%, rgba(0, 0, 0, 0.8) 100%),
        url("../images/background-image.jpg");
    background-size: cover;
    height: 110vh;
    width: 100%;
    position: relative;
}

.content{
    position: absolute;
    left: 157px;
    right: 157px;
    top: 0;
    bottom: 0;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0px;
}

.left-logo-container{
    display: flex;
    justify-content: start;
    align-items: center;
}

.left-logo-container img{
    width: 150px;
}

.right-container{
    display: flex;
    justify-content: space-between;
}

.lang-selector{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
    padding-inline: 12px;
    border: 1px solid rgba(255, 255, 255, 0.548);
    border-radius: 5px;
    
}

.lang-icon-img{
    margin-top: 4px;
}

.lang-selector select {
    width: 80px;
    border: 0;
    padding-left: 4px;
    font-size: 14px;
    color: white;
    background-color: transparent;
}

.signin-btn{
    background-color: #e50914;
    color: white;
    font-weight: 700;
    padding: 7px 15px;
    border: 0;
    border-radius: 4px;
    height: fit-content;
}

.content-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 190px 0px;
}
.content-body h1{
    font-weight: 900;
    font-size: 47px;
    white-space: nowrap;
    text-align: center;
}
.front-loader-txt-1{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 18px;
}
.front-loader-txt-2{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 20px;
    margin-top: 30px;
}

.mail-entry-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}

.email-input-box{
    width: 330px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(223, 223, 223, 0.527);
    border-radius: 5px;
    padding-inline: 10px;
}

.email-input-box::placeholder{
    font-size: 1rem;
    color: rgb(228, 227, 227);
}

.mail-entry-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 210px;
    background-color: #e50914;
    color: white;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.content-centered{
    display: flex;
    align-items: center;
}

.subsequent-main-container{
    height: 82vh;
    background-color: black;
    position: relative;
} 

.ad-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-box .left h1{
    font-weight: 900;
    font-size: 47px;

}