/* top bar flex box */
.top-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
    z-index: 100;
}

.left-flex {
    display: flex;
    align-items: center;
}

.hamburger-icon {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-icon {
    height: 20px;
}

.middle-flex {
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    align-items: center;
    max-width: 470px;
}

.search-bar {
    height: 33px;
    width: 0;
    min-width: 10px;
    flex: 1;
    padding-left: 9px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder{
    font-family: 'Roboto';
}

.search-btn {
    width: 66px;
    height: 37px;
    padding-inline: 19px;
    padding-top: 4px;
    margin-left: -1px;
    border: 1px solid rgb(212, 212, 212);
    background-color: rgb(247, 247, 247);
}

.voice-search-btn {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    padding-inline: 7px;
    padding-top: 4px;
    border-radius: 20px;
    border: none;
    background-color: rgb(247, 247, 247);
}

.right-flex {
    width: 184px;
    max-width: 170px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    margin-inline: 24px;
}