.video-list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 19px;
    margin-left: 72px;
    margin-top: 0;
    padding: 20px;
    background-color: rgb(250, 250, 250);
}

.card {
    width: 100%;
    padding: 5px;
}

.vid-thumbnail {
    width: 100%;
}

.info-grid {
    display: grid;
    grid-template-columns: 38px 1fr;
    gap: 10px;
}

.author-profile {
    width: 100%;
    border-radius: 30px;
    margin-top: 15px;
}

.vid-title {
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
}

.author,
.stats {
    font-size: 13px;
    font-weight: 400;
    color: rgb(96, 96, 96);
    line-height: 18px;
}

.author {
    margin-top: 8px;
}